{% extends "base_generic.html" %}

{% block content %}
  <h1>List of Delightful Recipes</h1>
  {% if recipe_list %}
  <div class="col-md-8 offset-md-2">
    <ul>
      {% for recipe in recipe_list %}
        <li>
         <h3 style="text-align: center; background: black"> <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a> </h3> <p style="color:lightgreen; text-align:center; background-color: black;">({{ recipe.difficulty_level }} difficulty level, {{recipe.cook_time }}, {{ recipe.diet.all|join:', ' }}, )</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
    <p>There are no recipes.</p>
  {% endif %}
  <br>
  <br>
  <hr>
<p>Want to share your favorite recipe? <a href="{% url 'recipe-create' %}">Add A Recipe</a> </p>


{% endblock %}