h3 a {
    color: green;
    text-align: center;


}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: green;

}

h2 {
    text-align: center;
    color: lightgreen;
}

#.bg {
      background-blend-mode: lighten;
      background-repeat: no-repeat;
}

#.con{
      align-content: flext-start;
}

p {
    text-align: center;
    color: lightgreen;
}

#recipes_pic {
    background-image: url("/static/img/kettle.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    op
}

